<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/icon-menu.svg" alt="menu-small-devices"  height="15" class="d-inline-block align-text-top sm-menu">
        <img src="../../assets/images/logo.svg" alt="logo" class="d-inline-block align-text-top logo">
        <img src="../../assets/images/icon-cart.svg" alt="logo" class="d-inline-block align-text-top text-end cart-icon">
        <p class="cart-notification" *ngIf="cartProducts > 0">{{ cartProducts }}</p>
        <img src="../../assets/images/image-avatar.png" alt="logo" width="22" class="d-inline-block align-text-top avatar">
      </a>
    </div>
</nav>
