<div class="container-fluid" *ngIf="cartDisplay == false">     
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="wrapper">
          <img [src]="image.src" class="product-images">        
        </div>
      </ng-template>
    </ngb-carousel>
</div>

<cart *ngIf="cartDisplay"></cart>

<div class="product-body">
  <h4>Sneaker company</h4>
  <h2>Fall Limited Edition Sneakers</h2>
  <p>These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer soloe. they'll withstand everything
    the weather can offer
  </p>
  <div class="product-price">
    <h3>€125.00</h3>
    <p>50%</p>
    <p>€250.00</p>
  </div>
  <div class="add-decrease-product">
    <p (click)="decreaseProduct()"> - </p>
    <p>{{numberOfProduct}} </p>
    <p (click)="increaseProduct()"> + </p>
  </div>
  <div class="product-cart">
    <button class="btn btn-primary" (click)="addingProduct()">
      <img src="../../assets/images/icon-cart.svg" alt="logo" width="17" class="d-inline-block align-text-top text-end cart-icon " > Add to cart 
    </button>
  </div>
</div>
